/***** Base style *****/
*{
	box-sizing: border-box;
}
body{
	font-family: "Verdana", sans-serif;
}
h1{
	text-align: center;
	margin-bottom: 15px;
}
.box{
	background: grey;
	border: 1px solid black;
}